<div class="ui center aligned header">
    <h2>Create New Student Record</h2>
</div>

<hr>

<br>

<div class="ui grid">
    <div class="ui centered eight wide column">
        
        <div class="ui form">
            <div class="field">
                <label>Student Number</label>
              {{input size="10" type="text"  value = number}}
            </div>
            <div class="field">
                <label>Name</label>
                <div class="two fields">
                <div class="field">
                    {{input type="text"  value = firstName placeholder="First Name"}}
                </div>
                <div class="field">
                    {{input type="text" value = lastName placeholder="Last Name"}}
                </div>
                </div>
            </div>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Gender</label>
                        <select class="ui dropdown" onchange={{action 'genderChange' value="target.value"}}>
                        {{#each genderModel as |genderChoice|}}
                            <option value={{genderChoice.id}} selected={{eq currentStudent.gender.id
                                                                                genderChoice.id}}>{{genderChoice.type}} </option>
                        {{/each}}
                        </select>
                    </div>
                    <div class="field">
                        <label>Residency</label>
                        <select class="ui dropdown" onchange={{action 'resChange' value="target.value"}}>
                        {{#each residencyModel as |residencyChoice|}}
                            <option value={{residencyChoice.id}} selected={{eq currentStudent.resInfo.id
                                                                                residencyChoice.id}}>{{residencyChoice.name}} </option>
                        {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Date of Birth</label>
                <input type="date" value={{selectedDate}} onchange={{action 'dateChange' value="target.value"}}>
            </div>

            

            <div class="field">
                <label>Registration Comments</label>
              {{textarea type="text" rows="4" value = regComments}}
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Basis of Admission</label>
                {{input type="text" value = BOA}}
                </div>
                <div class="field">
                    <label>Admission Average</label>
                {{input size="5" type="number" value = admissAvg}}
                </div>
            </div>
            <div class="field">
                <label>Admission Comments</label>
              {{textarea type="text" rows="4" value = admissComments}}
            </div>
            <div class="ui fluid button" {{action 'addNewRecord'}} style="background-color: #4F2683; color: #ffffff">Create Student Record</div>
        </div>
        
    </div>

    

</div>


