<div class="ui modal">
  <div class="header" style="font-size: 150%">Add High School Course</div>
  <div class="content">
     <div class="ui grid">
      <div class="ui left aligned sixteen wide column">
      <div class="ui form">
        <div class="inline field">
            <label>Grade</label><br/>
            <input type="text" value="" style="width: 300px" onchange={{action 'updateGrade' value="target.value"}}>
          </div>

            <div class="inline field">
                <label>High School</label><br/>
                <select style="width: 300px" name = "hsName" onchange={{action 'updateHighSchoolSelection' value="target.value"}}>
                  <option value="" disabled selected style="display: none;">Select High School</option>
                   {{#each highSchoolModel as |highSchoolChoice|}}
                      <option value={{highSchoolChoice.id}}>{{highSchoolChoice.name}} </option>
                    {{/each}}
                </select> 
            </div>
            
            {{#if showList}}
                {{#each highSchoolCourseModel as |highSchoolCourseChoice index|}}
                  {{#if (eq highSchoolCourseChoice.highschool.id currentHighSchool)}}
                    <div class="fields">
                        <div class="field">
                            <br/>
                            <label style="text-align: center">Option: </label>
                        </div>
                        <div class="field">
                            <label>Level</label>
                            <input  readonly="readonly" style="width: 70px" value={{highSchoolCourseChoice.level}} type="text"  class = {{index}}>
                        </div>
                        <div class="field">
                            <label>Source</label> 
                            <input readonly="readonly" style="width: 80px" value={{highSchoolCourseChoice.source}} type="text" class = {{index}} >
                        </div>
                        <div class="field">
                            <label>Unit</label> 
                            <input readonly="readonly" style="width: 60px" value={{highSchoolCourseChoice.unit}} type="text" class = {{index}} >
                        </div>
                        <div class="field">
                            <label>Subject</label>
                            {{#each highSchoolSubjectModel as |highSchoolSubjectChoice|}}
                               {{#if (eq highSchoolSubjectChoice.id highSchoolCourseChoice.subject.id)}}
                                    <input readonly="readonly" style="width: 120px" value={{highSchoolSubjectChoice.description}} type="text" class = {{index}} >
                               {{/if}}
                            {{/each}}
                        </div>
                        <div class="field">
                            <label>Department</label>
                            {{#each highSchoolSubjectModel as |highSchoolSubjectChoice|}}
                               {{#if (eq highSchoolSubjectChoice.id highSchoolCourseChoice.subject.id)}}
                                    <input readonly="readonly" style="width: 120px" value={{highSchoolSubjectChoice.name}} type="text" class = {{index}} >
                               {{/if}}
                            {{/each}}
                        </div>
                        
                        <div class="field">
                            <br/><br/>
                            <a {{action 'addCourseToRecord' index}}> 
                                <i class="large green add circle icon"></i> <br>
                            </a>
                        </div>
                    </div>
                  {{/if}}
                {{/each}}
              {{/if}}

      </div>
     </div>    
    </div>
    <div class="actions">
        <br/><br/>
      <div class="ui button" {{action "exit"}}>Cancel</div>
    </div>
</div>
</div>