<!--<div class="ui grid">
  <div class="three wide column">-->
    <div class="ui violet menu">
      <div class="item">
        <img src="/assets/images/UWO Stacked.png"> 
        <div class="item" style="color: #4F2683">Western Engineering Adjudication</div>
      </div>
      
      <a class={{H}} {{action "home"}}>
        <i class="large home icon"></i>
        Home
      </a>
      <a class={{SR}} {{action "studentsDataEntry"}} >
        <i class="large leanpub icon"></i>
        Students Records
      </a>
      <a class={{CR}} {{action "new"}} >
          <i class="large add user icon"></i>
        Create New Record
      </a>
      <a class={{MC}} {{action "manageCode"}} >
        <i class="large code icon"></i>
        Manage Code
      </a>
      <a class={{UD}} {{action "uploadFile"}} >
        <i class="large file text icon"></i>
        Upload Document
      </a>

      <div class="right menu">
        <a class="item " {{action "about"}} >
          <i class="large user icon"></i>
          About
        </a>
        <div class = "item">{{log-out}}</div>
      </div>

      <a class="item" {{action "addNewUser"}} >
        <i class="large leanpub icon"></i>
        Add Users
      </a>

    </div>
  <!--</div>
  <div class="thirteen wide column ">-->
    <div class="ui segment container">
      {{#if isHomeShowing}}
        <div class="ui center aligned header">
    <h2>Welcome to the Western Engineering Adjudication System</h2>
</div>
<hr>
<br/>

<div class="ui grid">
  <div class="eight wide column">
  <button class="ui fluid button" {{action "studentsDataEntry"}} style="background-color: #4F2683; color: #FFFFFF">
    <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">View Student Records</div>

    <div>
      <i class="massive leanpub icon"></i>
      <!--<p>Basic information</p>
      <p>Admission and registration information</p>
      <p>Advanced standings</p>
      <p>Scholarshipsand awards</p>
      <p>High school courses and grades</p>
      <p>University courses and grades</p>-->
    </div>
  </button>
  </div>
  <div class="eight wide column">
    <!-- Grey Colour: #807F83 Purple Colour: #4F2683 -->
  <button class="ui fluid button" {{action "new"}} style="background-color: #4F2683; color: #FFFFFF">
    <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">Add New Record</div>
    <div> <i class="massive add user icon"></i> </div>
  </button>
  </div>
  <div class="eight wide column">
  <button class="ui fluid button" {{action "manageCode"}} style="background-color: #4F2683; color: #FFFFFF">
    <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">Manage Codes</div>
    <div><i class="massive code icon"></i></div>
  </button>
  </div>
  <div class="eight wide column">
  <button class="ui fluid button" {{action "uploadFile"}} style="background-color: #4F2683; color: #FFFFFF">
    <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">Upload Document</div>
    <div><i class="massive file text icon"></i></div>
  </button>
  </div>
</div>
      {{/if}}

      {{#if isStudentsRecordsDataEntry}}
        {{student-data-entry}}
      {{/if}}

      {{#if isAboutShowing}}
        {{about-us}}
      {{/if}}

      {{#if isAddShowing}}
        {{add-record}}
      {{/if}}
      
      {{#if isManageCodeShowing}}
        {{manage-codes}}
      {{/if}}
      {{#if isUploadShowing}}
        {{upload-file}}
      {{/if}}
    <!--</div>
  </div>-->
</div>