<div class="ui grid">
  <div class="three wide column">
    <div class="ui violet vertical pointing menu">
      <a class="item active" {{action "home"}}>
        <i class="large home icon"></i>
        Home
      </a>
      <a class="item" {{action "studentsDataEntry"}} >
        <i class="large leanpub icon"></i>
        Students Records
      </a>
      <a class="item" {{action "new"}} >
          <i class="large add user icon"></i>
        Create New Record
      </a>
      <a class="item" {{action "manageCode"}} >
        <i class="large code icon"></i>
        Manage Code
      </a>
      <a class="item" {{action "uploadFile"}} >
        <i class="large file text icon"></i>
        Upload Document
      </a>
      <a class="item " {{action "about"}} >
        <i class="large user icon"></i>
        About
      </a>
    </div>
  </div>
  <div class="thirteen wide column ">
    <div class="ui segment container">
      {{#if isHomeShowing}}
        {{welcome-page}}
      {{/if}}

      {{#if isStudentsRecordsDataEntry}}
        {{student-data-entry}}
      {{/if}}

      {{#if isAboutShowing}}
        {{about-us}}
      {{/if}}

      {{#if isAddShowing}}
        {{add-record}}
      {{/if}}
      
      {{#if isManageCodeShowing}}
        {{manage-codes}}
      {{/if}}
      {{#if isUploadShowing}}
        {{upload-file}}
      {{/if}}
    </div>
  </div>
</div>