<!--<div class="ui grid">
  <div class="three wide column">-->
    <div class="ui violet menu">
      <div class="item">
        <img src="/assets/images/UWO Stacked.png"> 
        <div class="item" style="color: #4F2683">Western Engineering Adjudication</div>
      </div>
      
      <a class={{H}} {{action "home"}}>
        <i class="large home icon"></i>
        Home
      </a>
      <a class={{AD}} {{action "adjud"}} >
        <i class="large send outline icon"></i>
        Adjudication
      </a>
      <a class={{SR}} {{action "studentsDataEntry"}} >
        <i class="large leanpub icon"></i>
        Records
      </a>
      <a class={{CR}} {{action "new"}} >
          <i class="large add user icon"></i>
        Add Record
      </a>
      <a class={{UD}} {{action "uploadFile"}} >
        <i class="large file text icon"></i>
        Documents
      </a>
      <a class={{MC}} {{action "manageCode"}} >
        <i class="large code icon"></i>
        Manage Code
      </a>

      <div class="right menu">
        <a class="item " {{action "about"}} >
          <i class="large user icon"></i>
          About
        </a>
        <a class="item" {{action "addNewUser"}} >
        <i class="large share icon"></i>
          Admin Portal
        </a>
        <div class = "item">{{log-out}}</div>
      </div>
    </div>
  <!--</div>
  <div class="thirteen wide column ">-->
    <div class="ui segment container">
      
      {{#if isHomeShowing}}
        <div class="ui center aligned header">
    <h2>Welcome to the Western Engineering Adjudication System</h2>
</div>
<hr>
<br/>

<div class="ui grid">
  <div class="sixteen wide column">
  <button class="ui fluid button" {{action "adjud"}} style="background-color: #4F2683; color: #FFFFFF">
    <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">Adjudication</div>
    <div><i class="massive send outline icon"></i></div>
  </button>
  </div>

  <div class="eight wide column">
  <button class="ui fluid button" {{action "studentsDataEntry"}} style="background-color: #4F2683; color: #FFFFFF">
    <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">View Student Records</div>
    <div><i class="massive leanpub icon"></i></div>
  </button>
  </div>

  <div class="eight wide column">
  <button class="ui fluid button" {{action "new"}} style="background-color: #4F2683; color: #FFFFFF">
    <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">Add New Record</div>
    <div> <i class="massive add user icon"></i> </div>
  </button>
  </div>

  <div class="eight wide column">
    <button class="ui fluid button" {{action "uploadFile"}} style="background-color: #4F2683; color: #FFFFFF">
      <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">Document Management</div>
      <div><i class="massive file text icon"></i></div>
    </button>
  </div>

  <div class="eight wide column">
  <button class="ui fluid button" {{action "manageCode"}} style="background-color: #4F2683; color: #FFFFFF">
    <div class="ui center aligned header" style="color: #FFFFFF; font-size: 200%">Manage Codes</div>
    <div><i class="massive code icon"></i></div>
  </button>
  </div>
</div>
      {{/if}}

      {{#if isStudentsRecordsDataEntry}}
        {{student-data-entry}}
      {{/if}}

      {{#if isAboutShowing}}
        {{about-us}}
      {{/if}}

      {{#if isAddShowing}}
        {{#if USP01IsPermitted}}
          {{add-record}}
        {{else}}
          <div class="ui center aligned raised segment">
            <div class="ui icon header">
              <i class="protect icon"></i>
              Permission Denied
            </div>
            <div>
              <p>This feature (USP01) is not allowed for your account.</p>
              <p>Please contact the system administrator for more information.</p>
            </div>

          </div>
        {{/if}}
        
      {{/if}}
      
      {{#if isManageCodeShowing}}
      
          {{manage-codes}}
      {{/if}}
      {{#if isUploadShowing}}
      {{#if ISR01IsPermitted}}
          {{upload-file}}
        {{else}}
          <div class="ui center aligned raised segment">
            <div class="ui icon header">
              <i class="protect icon"></i>
              Permission Denied
            </div>
            <div>
              <p>This feature (ISR01) is not allowed for your account.</p>
              <p>Please contact the system administrator for more information.</p>
            </div>

          </div>
        {{/if}}
        
      {{/if}}
      {{#if isAdjudShowing}}
        {{#if ASR02IsPermitted}}
          {{perform-adjud}}
        {{else}}
          <div class="ui center aligned raised segment">
            <div class="ui icon header">
              <i class="protect icon"></i>
              Permission Denied
            </div>
            <div>
              <p>This feature (ASR02) is not allowed for your account.</p>
              <p>Please contact the system administrator for more information.</p>
            </div>

          </div>
        {{/if}}
        
      {{/if}}
    <!--</div>
  </div>-->
</div>