<div class="ui center aligned header">
  <h2>Manage Code</h2>
</div>

<div class="ui top attached tabular menu">
    <div class="active item" data-tab="residencies">Residencies</div>
    <div class="item" data-tab="genders">Genders</div>
    <div class="item" data-tab="highSchools">High Schools</div>
    <div class="item" data-tab="hsSubject">High School Subjects</div>
    <div class="item" data-tab="hsCourse">High School Courses</div>
  </div>

   <div class="ui bottom attached active tab segment"data-tab="residencies">
    

        <div class="ui grid">
            <div class="ui lef aligned five wide column"></div>
            <div class="ui lef aligned seven wide column">
                <div class="ui form">
                    
                     {{#each residencyModel as |residencyChoice index|}}
                    <div class="inline field">
                    <label>Option {{index}}:</label> <input value={{residencyChoice.name}} type="text"  onchange = {{action 'changeResName' index}} id = {{index}} >
                    <a {{action 'removeStudentOption' index}}> 
                        <i class="large red minus circle icon"></i> <br>
                    </a>
                    </div>
                    {{/each}}
                    <div class="inline field">
                        <label>Add New</label>
                        <input value="" type="text" onchange={{action 'updateResChoice' value="target.value"}}>
                        <a {{action 'addStudentOption'}}> 
                        <i class="large green add square icon"></i> <br>
                    </a>
                    </div>
                    
                    
                </div>
                
            </div>

            <!-- <div class="ui center aligned five wide column"></div> 
            <div class="ui center aligned five wide column">
                    <button class="ui violet button">
                        Save 
                    </button>
                    <button class="ui button">
                        Undo All <i class="undo icon"></i>
                    </button>
                </div> -->

            
        </div>
   </div>
   <div class="ui tab" data-tab="genders">
       <div class="ui grid">
            <div class="ui lef aligned five wide column"></div>
            <div class="ui lef aligned seven wide column">
                <div class="ui form">
                    <br>
                     {{#each genderModel as |genderChoice index|}}
                    <div class="inline field">
                    <label>Option {{index}}:</label> <input value={{genderChoice.type}} type="text"  onchange = {{action 'changeGenderName' index}} class = {{index}} >
                    <a {{action 'removeGenderOption' index}}> 
                        <i class="large red minus circle icon"></i> <br>
                    </a>
                    </div>
                    {{/each}}
                    
                    <div class="inline field">
                        <label>Add New</label>
                        <input value="" type="text" onchange={{action 'updateGenderChoice' value="target.value"}}>
                        <a {{action 'addGenderOption'}}> 
                        <i class="large green add square icon"></i> <br>
                    </a>
                    </div>
                    
                </div>
                
            </div>
            <!-- <div class="ui center aligned five wide column"></div> 
            <div class="ui center aligned five wide column">
                    <button class="ui violet button">
                        Save 
                    </button>
                    <button class="ui button">
                        Undo All <i class="undo icon"></i>
                    </button>
                </div> -->

            
        </div>
       
   </div>
   
  
 <div class="ui tab" data-tab="hsSubject">
       <div class="ui grid">
            <div class="ui lef aligned five wide column"></div>
            <div class="ui lef aligned seven wide column">
                <div class="ui form">
                    <br>
                     {{#each highSchoolSubjectModel as |highSchoolSubjectChoice index|}}
                    <div class="fields">
                        <div class="field">
                            <br/>
                            <label style="text-align: center">Option {{index}}</label>
                        </div>
                        <div class="field">
                            <label>Name</label> <input value={{highSchoolSubjectChoice.name}} type="text"  onchange = {{action 'changeSubjectName' index}} class = {{index}}>
                        </div>
                        <div class="field">
                            <label>Description</label> <input value={{highSchoolSubjectChoice.description}} type="text"  onchange = {{action 'changeSubjectDescription' index}} class = {{index}} >
                        </div>
                        <div class="field">
                            <br/><br/>
                            <a {{action 'removeSubjectOption' index}}> 
                                <i class="large red minus circle icon"></i> <br>
                            </a>
                        </div>
                    
                    </div>
                    {{/each}}
                    
                    <div class="fields">
                        <div class="field">
                            <br/>
                            <label style="text-align: center">Add New</label>
                        </div>
                        <div class="field">
                            <label>Name</label>
                            <input placeholder="Name" value="" type="text" onchange={{action 'updateSubjectName' value="target.value"}}>
                        </div>
                        <div class="field">
                            <label>Description</label>
                            <input placeholder="Description" value="" type="text" onchange={{action 'updateSubjectDescription' value="target.value"}}>
                        </div>
                        <div class="field">
                            <br/><br/>
                            <a {{action 'addSubjectOption'}}> 
                                <i class="large green add square icon"></i> <br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
   </div>

<div class="ui tab" data-tab="highSchools">
       <div class="ui grid">
            <div class="ui lef aligned two wide column"></div>
            <div class="ui lef aligned fourteen wide column">
                <div class="ui form">
                    <br>
                     {{#each highSchoolModel as |highSchoolChoice index|}}
                    <div class="fields">
                        <div class="field">
                            <br/>
                            <label style="text-align: center">Option</label>
                            <label style="text-align: center">{{index}}</label>
                        </div>
                        <div class="field">
                            <label>Name</label>
                            <input style="width: 500px" value={{highSchoolChoice.name}} type="text"  onchange = {{action 'changeHighSchoolName' index}} class = {{index}}>
                        </div>
                        <div class="field">
                            <br/><br/>
                            <a {{action 'removeHighSchoolOption' index}}> 
                                <i class="large red minus circle icon"></i> <br>
                            </a>
                        </div>
                    
                    </div>
                    {{/each}}
                    
                    <div class="fields">
                        <div style="margin-right: 12px" class="field">
                            <br/>
                            <label style="text-align: center">Add</label>
                            <label style="text-align: center">New</label>
                        </div>
                        <div class="field">
                            <label>Name</label>
                            <input style="width: 500px" placeholder="Name" value="" type="text" onchange={{action 'updateHighSchoolName' value="target.value"}}>
                        </div>
                        <div class="field">
                            <br/><br/>
                            <a {{action 'addHighSchoolOption'}}> 
                                <i class="large green add square icon"></i> <br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
   </div>

   <div class="ui tab" data-tab="hsCourse">
       <div class="ui grid">
            <div class="ui lef aligned one wide column"></div>
            <div class="ui lef aligned fifteen wide column">
                <div class="ui form">
                    <br>
                     {{#each highSchoolCourseModel as |highSchoolCourseChoice index|}}
                    <div class="fields">
                        <div class="field">
                            <br/>
                            <label style="text-align: center">Option</label>
                            <label style="text-align: center">{{index}}</label>
                        </div>
                        <div class="field">
                            <label style="width: 70px">Level</label>
                            <input value={{highSchoolCourseChoice.level}} type="text"  onchange = {{action 'changeCourseLevel' index}} class = {{index}}>
                        </div>
                        <div class="field">
                            <label>Source</label> 
                            <input style="width: 80px" value={{highSchoolCourseChoice.description}} type="text"  onchange = {{action 'changeCourseSource' index}} class = {{index}} >
                        </div>
                        <div class="field">
                            <label>Unit</label> 
                            <input style="width: 60px" value={{highSchoolCourseChoice.unit}} type="text"  onchange = {{action 'changeCourseUnit' index}} class = {{index}} >
                        </div>
                        <div class="field">
                            <label>Subject</label>
                            <select onchange={{action 'updateCourseSubject' value="target.value"}}>
                                <option value="" disabled selected style="display: none;">Subject</option>
                                {{#each highSchoolSubjectModel as |highSchoolSubjectChoice|}}
                                    <option value={{highSchoolSubjectChoice.id}} selected={{highSchoolSubjectChoice.id}}>{{highSchoolSubjectChoice.name}} </option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="field">
                            <label>High School</label>
                            <select style="width: 250px" onchange={{action 'updateCourseHighSchool' value="target.value"}}>
                                <option value="" disabled selected style="display: none;">High School</option>
                                {{#each highSchoolModel as |highSchoolChoice|}}
                                    <option value={{highSchoolChoice.id}} selected={{highSchoolChoice.id}}>{{highSchoolChoice.name}} </option>
                                {{/each}}
                            </select>
                        </div>
                        
                        <div class="field">
                            <br/><br/>
                            <a {{action 'removeCourseOption' index}}> 
                                <i class="large red minus circle icon"></i> <br>
                            </a>
                        </div>
                    
                    </div>
                    {{/each}}
                    
                    <div class="fields">
                        <div class="field">
                            <br/>
                            <label style="text-align: center">Add</label>
                            <label style="text-align: center">New</label>
                        </div>
                        <div class="field">
                            <label>Level</label>
                            <input style="width: 70px" placeholder="Level" value="" type="text" onchange={{action 'updateCourseLevel' value="target.value"}}>
                        </div>
                        <div class="field">
                            <label>Source</label>
                            <input style="width: 80px" placeholder="Source" value="" type="text" onchange={{action 'updateCourseSource' value="target.value"}}>
                        </div>
                        <div class="field">
                            <label>Unit</label>
                            <input style="width: 60px" placeholder="Unit" value="" type="text" onchange={{action 'updateCourseUnit' value="target.value"}}>
                        </div>
                        <div class="field">
                            <label>Subject</label>
                            <select onchange={{action 'updateCourseSubject' value="target.value"}}>
                                <option value="" disabled selected style="display: none;">Subject</option>
                                {{#each highSchoolSubjectModel as |highSchoolSubjectChoice|}}
                                    <option value={{highSchoolSubjectChoice.id}}>{{highSchoolSubjectChoice.name}} </option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="field">
                            <label>High School</label>
                            <select style="width: 250px" onchange={{action 'updateCourseHighSchool' value="target.value"}}>
                                <option value="" disabled selected style="display: none;">High School</option>
                                {{#each highSchoolModel as |highSchoolChoice|}}
                                    <option value={{highSchoolChoice.id}}>{{highSchoolChoice.name}} </option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="field">
                            <br/><br/>
                            <a {{action 'addCourseOption'}}> 
                                <i class="large green add square icon"></i> <br>
                            </a>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
   </div>