<div class="ui center aligned header">
    <h2>Adjudication</h2>
</div>

<div class="ui two item inverted menu" style="background-color: #4F2683; color: #ffffff">
    <div class="active item" data-tab="perform">Perform</div>
    <div class="item" data-tab="view">View</div>
</div>

<div class="ui active tab" data-tab="perform">
    <div class = "ui grid">
        <div class="ui centered twelve wide column">
            <div class = "ui form" id = "rules">
                <br/>
                <div id="adjudication">
                    <div class = "ui form">
                        <div class = "field">
                            <label name="list" style="font-size: 18px">Select Adjudication Term: </label>
                            <select class="ui dropdown" onchange={{action 'selectTerm' value="target.value"}} name = "listname">
                                <option hidden>Select</option>
                                {{#each termModel as |termChoice index|}}
                                    <option value={{index}}> {{termChoice.name}} </option>    
                                {{/each}}
                            </select>
                        </div>
                        <div class="ui violet progress" data-percent="0" id="progBar">
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                        <div class="label">Progress of Adjudication</div>
                    </div>
                        <button class="ui fluid button" style="background-color: #4F2683; color: #ffffff" {{action 'adjudicate'}} >
                            Adjudicate
                        </button>
                    </div>
                </div>
                <br/>
            </div>      
        </div>
    </div>
</div>
<div class="ui tab" data-tab="view">
    <div class = "ui grid">
        <div class="ui left aligned four wide column">
        <div class="ui form">
            <br><br><br><br>
            <div class="ui medium header" >Select per category:</div>
            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'departmentSelected'}}>Department</button><br><br>
            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'programSelected'}}>  Program </button><br><br>
            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'noneSelected'}}>  None </button><br>
        </div>
    </div>
        <div class="ui left aligned twelve wide column">
            <div class = "ui form" id = "rules">
                <br/>
                <div id="adjudicationView">
                    <div class = "ui form">
                        <div class = "field">
                            <label name="list" style="font-size: 18px">Select Adjudication Term: </label>
                            <select class="ui dropdown" onchange={{action 'selectTermToView' value="target.value"}} name = "listname">
                                <option hidden>Select</option>
                                {{#each termModel as |termChoice index|}}
                                    <option value={{index}}> {{termChoice.name}} </option>    
                                {{/each}}
                            </select>
                        </div>
                        <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'viewAdjudication'}} >
                            View
                        </button>
                        <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'deleteAll'}} >
                            Delete All Adjudication Records
                        </button>
                        {{#if showResults}}
                            {{!--<button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'exportPDF'}}>Export </button>--}}
                        {{#if isNone}}
                            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'exportPDF' 1}}>
                                Export table to PDF
                            </button>
                            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'excelExport'}}>
                                Export table to Excel
                            </button>
                            <button class="ui button" style="background-color: #000000; color: #ffffff" {{action 'displayStatistics'}}>
                                Display Statistics
                            </button>
                            <!--<button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'exportExcel'}}>
                                Export table to Excel
                            </button>-->
                            {{#if ifNoneStat}}
                            {{ember-chart type="bar" data=numberData height=200 width=200 options=baroptions}}
                            {{/if}}
                            <table class="ui celled table" id="studentTable">
                                <thead>
                                    <tr>
                                        <th>Student Name</th>
                                        <th>Student Number</th>
                                        <th>Term Average</th>
                                        <th>Term Units</th>
                                        <th>Term Units Received</th>
                                        <th>Assessment Codes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each adjudicationModel as |adjudicationChoice index2|}}
                                        {{#if (eq adjudicationChoice.note adjudicationTermToView)}}
                                        <tr class={{index2}}>
                                            <td class="info">{{adjudicationChoice.student.firstName}} {{adjudicationChoice.student.lastName}}</td>
                                            <td class="id">{{adjudicationChoice.student.number}}</td>
                                            <td class="avg">{{adjudicationChoice.termAVG}}</td>
                                            <td class="termtotal">{{adjudicationChoice.termUnitTotal}}</td>
                                            <td class="termPassed">{{adjudicationChoice.termUnitPassed}}</td>
                                            <td class="codes">
                                                {{#each adjudicationChoice.assessmentCode as |codeChoice|}}
                                                {{codeChoice.code}}<br/>
                                                {{/each}}
                                            </td>
                                        </tr>
                                    {{/if}}
                                {{/each}}
                                </tbody>
                            </table>
                            {{/if}}
                            {{#if isDepartment}}
                            
                            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'departmentExport' true}}>
                                Export table to PDF
                            </button>
                            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'departmentExport' false}}>
                                Export to Excel
                            </button>
                            <br><br>
                            <div id = "departments">
                            {{#each departmentGroups as |group index|}}
                            
                            
                            {{#each departmentModel as |dprt index3|}}
                            {{#if (eq index index3)}}
                                <div class="ui medium header" style="color: #4F2683">{{dprt.name}}</div>
                            {{/if}}
                            {{/each}}
                            
                            <table class="ui celled table" id={{index}}>
                                <thead>
                                    <tr>
                                        <th>Student Name</th>
                                        <th>Student Number</th>
                                        <th>Term Average</th>
                                        <th>Term Units</th>
                                        <th>Term Units Received</th>
                                        <th>Assessment Codes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                {{#each group as |studentInDepartment index2|}}
                                    
                                
                                {{#each adjudicationModel as |adjudicationChoice index2|}}
                                {{#if (eq adjudicationChoice.student.id studentInDepartment.id)}}
                                        {{#if (eq adjudicationChoice.note adjudicationTermToView)}}
                                        <tr class={{index2}}>
                                            <td class="info">{{adjudicationChoice.student.firstName}} {{adjudicationChoice.student.lastName}}</td>
                                            <td class="id">{{adjudicationChoice.student.number}}</td>
                                            <td class="avg">{{adjudicationChoice.termAVG}}</td>
                                            <td class="termtotal">{{adjudicationChoice.termUnitTotal}}</td>
                                            <td class="termPassed">{{adjudicationChoice.termUnitPassed}}</td>
                                            <td class="codes">
                                                {{#each adjudicationChoice.assessmentCode as |codeChoice|}}
                                                {{codeChoice.code}}<br/>
                                                {{/each}}
                                            </td>
                                        </tr>
                                    {{/if}}
                                    {{/if}}
                                {{/each}}
                                
                                {{/each}}
                                </tbody>
                            </table>
                            {{/each}}
                            </div>
                            {{/if}}
                            {{#if isProgram}}
                            
                                <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'programExport' true}}>
                                    Export table to PDF
                                </button>
                                <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'programExport' false}}>
                                Export to Excel
                                </button>
                                <br><br>
                                <div id = "programs">
                                {{#each programGroups as |group index|}}
                                {{#each programModel as |prgm index3|}}
                                {{#if (eq index index3)}}
                                    <div class="ui medium header" style="color: #4F2683">{{prgm.name}}</div>
                                {{/if}}
                                {{/each}}
                                <table class="ui celled table" id={{index}}>
                                    <thead>
                                        <tr>
                                            <th>Student Name</th>
                                            <th>Student Number</th>
                                            <th>Term Average</th>
                                            <th>Term Units</th>
                                            <th>Term Units Received</th>
                                            <th>Assessment Codes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {{#each group as |studentInDepartment index2|}}
                                        
                                    
                                    {{#each adjudicationModel as |adjudicationChoice index2|}}
                                    {{#if (eq adjudicationChoice.student.id studentInDepartment.id)}}
                                            {{#if (eq adjudicationChoice.note adjudicationTermToView)}}
                                            <tr class={{index2}}>
                                                 <td class="info">{{adjudicationChoice.student.firstName}} {{adjudicationChoice.student.lastName}}</td>
                                                <td class="id">{{adjudicationChoice.student.number}}</td>
                                                <td class="avg">{{adjudicationChoice.termAVG}}</td>
                                                <td class="termtotal">{{adjudicationChoice.termUnitTotal}}</td>
                                                <td class="termPassed">{{adjudicationChoice.termUnitPassed}}</td>
                                                <td class="codes">
                                                    {{#each adjudicationChoice.assessmentCode as |codeChoice|}}
                                                    {{codeChoice.code}}<br/>
                                                    {{/each}}
                                                </td>
                                            </tr>
                                        {{/if}}
                                        {{/if}}
                                    {{/each}}
                                    
                                    {{/each}}
                                    </tbody>
                                </table>
                                {{/each}}
                            </div>
                            {{/if}}
                        {{/if}}
                    </div>

                </div>
            </div>      
        </div>
    </div>
</div>
<div class="ui department modal">
      <div class="ui icon header">
        <i class="add to cart icon"></i>
        Select Departments To Export
      </div>
      <div class="content">
        {{#ui-dropdown   class="fluid multiple selection" onChange=(action 'selectDepartmentToExport')}}
       <i class="dropdown icon"></i>
       <div class="default text">Select Departments</div>
       <div class="menu">
         {{#each departmentModel as |departmentChoice index|}}
           <div class="item"   data-value= {{index}} >
             {{departmentChoice.name}} 
           </div>
         {{/each}}

       </div>
     {{/ui-dropdown}}
      </div>
      <div class="actions">
        <div class="ui violet inverted button"{{action 'cancelDepartment'}}>
          
          Cancel
        </div>
        <div class="ui violet button"{{action 'exportDepartment' false}}>
          
          Export Selected
        </div>
        <div class="ui black button"{{action 'exportDepartment' true}}>
          
          Export All
        </div>
      </div>
</div>
<div class="ui program modal">
      <div class="ui icon header">
        <i class="add to cart icon"></i>
        Select Programs To Export
      </div>
      <div class="content">
        {{#ui-dropdown   class="fluid multiple selection" onChange=(action 'selectProgramToExport')}}
       <i class="dropdown icon"></i>
       <div class="default text">Select Programs</div>
       <div class="menu">
         {{#each programModel as |departmentChoice index|}}
           <div class="item"   data-value= {{index}} >
             {{departmentChoice.name}} 
           </div>
         {{/each}}

       </div>
     {{/ui-dropdown}}
      </div>
      <div class="actions">
        <div class="ui violet inverted button"{{action 'cancelProgram'}}>
          
          Cancel
        </div>
        <div class="ui violet button"{{action 'exportProgram' false}}>
          
          Export Selected
        </div>
        <div class="ui black button"{{action 'exportProgram' true}}>
          
          Export All
        </div>
      </div>
</div>

