<div class="ui center aligned header">
    <h2>Adjudication</h2>
</div>

<div class="ui two item inverted menu" style="background-color: #4F2683; color: #ffffff">
    <div class="active item" data-tab="perform">Perform</div>
    <div class="item" data-tab="view">View</div>
</div>

<div class="ui active tab" data-tab="perform">
    <div class = "ui grid">
        <div class="ui centered twelve wide column">
            <div class = "ui form" id = "rules">
                <br/>
                <div id="adjudication">
                    <div class = "ui form">
                        <div class = "field">
                            <label name="list" style="font-size: 18px">Select Adjudication Term: </label>
                            <select class="ui dropdown" onchange={{action 'selectTerm' value="target.value"}} name = "listname">
                                <option hidden>Select</option>
                                {{#each termModel as |termChoice index|}}
                                    <option value={{index}}> {{termChoice.name}} </option>    
                                {{/each}}
                            </select>
                        </div>
                        <div class="ui violet progress" data-percent="0" id="progBar">
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                        <div class="label">Progress of Adjudication</div>
                    </div>
                        <button class="ui fluid button" style="background-color: #4F2683; color: #ffffff" {{action 'adjudicate'}} >
                            Adjudicate
                        </button>
                    </div>
                </div>
                <br/>
            </div>      
        </div>
    </div>
</div>
<div class="ui tab" data-tab="view">
    <div class = "ui grid">
        <div class="ui left aligned four wide column">
        <div class="ui form">
            <br><br><br><br>
            <div class="ui medium header" >Select per category:</div>
            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'departmentSelected'}}>Department</button><br><br>
            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'programSelected'}}>  Program </button><br><br>
            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'noneSelected'}}>  None </button><br>
        </div>
    </div>
        <div class="ui left aligned twelve wide column">
            <div class = "ui form" id = "rules">
                <br/>
                <div id="adjudicationView">
                    <div class = "ui form">
                        <div class = "field">
                            <label name="list" style="font-size: 18px">Select Adjudication Term: </label>
                            <select class="ui dropdown" onchange={{action 'selectTermToView' value="target.value"}} name = "listname">
                                <option hidden>Select</option>
                                {{#each termModel as |termChoice index|}}
                                    <option value={{index}}> {{termChoice.name}} </option>    
                                {{/each}}
                            </select>
                        </div>
                        <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'viewAdjudication'}} >
                            View
                        </button>
                        <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'deleteAll'}} >
                            Delete All Adjudication Records
                        </button>
                        {{#if showResults}}
                            {{!--<button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'exportPDF'}}>Export </button>--}}
                        {{#if isNone}}
                            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'exportPDF' 1}}>
                                Export table to PDF
                            </button>
                            <!--<button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'exportExcel'}}>
                                Export table to Excel
                            </button>-->
                            <table class="ui celled table" id="studentTable">
                                <thead>
                                    <tr>
                                        <th>Student</th>
                                        <th>Term Average</th>
                                        <th>Term Units</th>
                                        <th>Term Units Received</th>
                                        <th>Assessment Codes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each adjudicationModel as |adjudicationChoice index2|}}
                                        {{#if (eq adjudicationChoice.note adjudicationTermToView)}}
                                        <tr class={{index2}}>
                                            <td>{{adjudicationChoice.student.firstName}} {{adjudicationChoice.student.lastName}}<br/>{{adjudicationChoice.student.number}}</td>
                                            <td>{{adjudicationChoice.termAVG}}</td>
                                            <td>{{adjudicationChoice.termUnitTotal}}</td>
                                            <td>{{adjudicationChoice.termUnitPassed}}</td>
                                            <td>
                                                {{#each adjudicationChoice.assessmentCode as |codeChoice|}}
                                                {{codeChoice.code}}<br/>
                                                {{/each}}
                                            </td>
                                        </tr>
                                    {{/if}}
                                {{/each}}
                                </tbody>
                            </table>
                            {{/if}}
                            {{#if isDepartment}}
                            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'exportPDF' 2}}>
                                Export table to PDF
                            </button>
                            {{#each departmentGroups as |group index|}}
                            <table class="ui celled table" id="departmentTable">
                                <thead>
                                    <tr>
                                        <th>Student</th>
                                        <th>Term Average</th>
                                        <th>Term Units</th>
                                        <th>Term Units Received</th>
                                        <th>Assessment Codes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each group as |studentInDepartment index2|}}
                                    
                                
                                {{#each adjudicationModel as |adjudicationChoice index2|}}
                                {{#if (eq adjudicationChoice.student.id studentInDepartment.id)}}
                                        {{#if (eq adjudicationChoice.note adjudicationTermToView)}}
                                        <tr class={{index2}}>
                                            <td>{{adjudicationChoice.student.firstName}} {{adjudicationChoice.student.lastName}}<br/>{{adjudicationChoice.student.number}}</td>
                                            <td>{{adjudicationChoice.termAVG}}</td>
                                            <td>{{adjudicationChoice.termUnitTotal}}</td>
                                            <td>{{adjudicationChoice.termUnitPassed}}</td>
                                            <td>
                                                {{#each adjudicationChoice.assessmentCode as |codeChoice|}}
                                                {{codeChoice.code}}<br/>
                                                {{/each}}
                                            </td>
                                        </tr>
                                    {{/if}}
                                    {{/if}}
                                {{/each}}
                                
                                {{/each}}
                                </tbody>
                            </table>
                            {{/each}}
                            {{/if}}
                            {{#if isProgram}}
                            <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'exportPDF' 3}}>
                                Export table to PDF
                            </button>
                            {{#each programGroups as |group index|}}
                            <table class="ui celled table" id="programTable">
                                <thead>
                                    <tr>
                                        <th>Student</th>
                                        <th>Term Average</th>
                                        <th>Term Units</th>
                                        <th>Term Units Received</th>
                                        <th>Assessment Codes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each group as |studentInDepartment index2|}}
                                    
                                
                                {{#each adjudicationModel as |adjudicationChoice index2|}}
                                {{#if (eq adjudicationChoice.student.id studentInDepartment.id)}}
                                        {{#if (eq adjudicationChoice.note adjudicationTermToView)}}
                                        <tr class={{index2}}>
                                            <td>{{adjudicationChoice.student.firstName}} {{adjudicationChoice.student.lastName}}<br/>{{adjudicationChoice.student.number}}</td>
                                            <td>{{adjudicationChoice.termAVG}}</td>
                                            <td>{{adjudicationChoice.termUnitTotal}}</td>
                                            <td>{{adjudicationChoice.termUnitPassed}}</td>
                                            <td>
                                                {{#each adjudicationChoice.assessmentCode as |codeChoice|}}
                                                {{codeChoice.code}}<br/>
                                                {{/each}}
                                            </td>
                                        </tr>
                                    {{/if}}
                                    {{/if}}
                                {{/each}}
                                
                                {{/each}}
                                </tbody>
                            </table>
                            {{/each}}
                            {{/if}}
                        {{/if}}
                    </div>

                </div>
            </div>      
        </div>
    </div>
</div>
