<div class="ui center aligned header">
  <h2>Student Records Data Entry</h2>
</div>

<!-- Show the menu bar-->
<div class="ui inverted menu">
  <a class="item" {{action 'saveStudent'}}>
    <i class="save icon"></i>
    Save
  </a>
  <a class="item" {{action 'undo'}}>
    <i class="undo icon"></i>
    Undo
  </a>
  <a class="item" {{action 'firstStudent'}}>
    <i class="step backward icon"></i>
    First
  </a>
  <a class="item" {{action 'previousStudent'}}>
    <i class="arrow left icon"></i>
    Previous
  </a>
  <a class="item" {{action 'nextStudent'}}>
    <i class="arrow right icon"></i>
    Next
  </a>
  <a class="item" {{action 'lastStudent'}}>
    <i class="step forward icon"></i>
    Last
  </a>
  <a class="item" {{action 'allStudents'}}>
    <i class="list icon"></i>
    All Records
  </a>
  <a class="item" {{action 'findStudent'}}>
    <i class="search icon"></i>
    Find Record
  </a>
  <a class="item" {{action 'help'}}>
    <i class="help icon"></i>
    Help
  </a>
</div>

{{#if showAllStudents}}
  <!-- Note that offset is an "in" and "out" parameter !-->
 {{all-students INDEX = currentIndex notDONE = showAllStudents offset = offset studentsModel = studentsRecords total = total}}
{{else if showHelpPage}}
  {{help-page notDONE = showHelpPage}}
{{else if showFindRecordPage}}
  {{find-record notDONE = showFindRecordPage OFFSET = offset INDEX = currentIndex FOUND = found}}
{{else}}
  <!-- Show data entry form -->

  <div class="ui violet secondary pointing menu">
    <div class="active item" data-tab="basics">Basic Info</div>
    <div class="item" data-tab="admiss">Admission & Registration</div>
    <div class="item" data-tab="grades">Grades</div>
    <div class="item" data-tab="awards">Awards and Scholarships</div>
    <div class="item" data-tab="danger">Danger Zone</div>
    

  </div>
  <div class="ui bottom attached active tab"data-tab="basics">
    <!-- student basic information !-->
    <br>
    <div class="ui grid">
      <div class="ui right aligned seven wide column">
        
        <div class="ui form">
          <div class="inline field">
            <label>Student Number</label>
            <input size="10" type="number"  value = {{currentStudent.number}} onchange={{action 'editNumber' value='target.value'}}>
          </div>
          <div class="inline field">
            <label>First Name</label>
            <input type="text"  value = {{currentStudent.firstName}} onchange={{action 'editFirst' value='target.value'}}>
            
          </div>
          <div class="inline field">
            <label>Last Name</label>
            <input type="text" value = {{currentStudent.lastName}} onchange={{action 'editLast' value='target.value'}}>
          </div>
          <div class="inline field">
            <label>Gender</label>
            <select onchange={{action 'selectGender' value="target.value"}}>
              {{#each genderModel as |genderChoice|}}
                <option value={{genderChoice.id}} selected={{eq currentStudent.gender.id
                                                                   genderChoice.id}}>{{genderChoice.type}} </option>
              {{/each}}
            </select>
          </div>
          <div class="inline field">
            <label>Date of Birth</label>
            <input value={{selectedDate}} type="date" onchange={{action 'assignDate' value="target.value"}}>
          </div>
          <div class="inline field">
            <label>Residency</label>
            <select onchange={{action 'selectResidency' value="target.value"}}>
              {{#each residencyModel as |residencyChoice|}}
                <option value={{residencyChoice.id}} selected={{eq currentStudent.resInfo.id
                                                                   residencyChoice.id}}>{{residencyChoice.name}} </option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <!-- Show student photo -->
      <div class="ui center aligned  seven wide column segment">
          <h3> {{currentStudent.firstName}} {{currentStudent.lastName}}</h3>
          <br>
          <img  src={{studentPhoto}}>
      </div>
    </div>

  </div>
  <div class="ui tab" data-tab="admiss">
<br>
      <div class="ui grid">
          <div class="ui left aligned  seven wide column">
              <div class="ui form">
                <div class="field">
                    <label>Registration Comments</label>
                  {{textarea type="text" rows="4" value = currentStudent.regComments}}
                </div>
                <div class="field">
                    <label>Basis of Admission</label>
                  {{input type="text" value = currentStudent.BOA}}
                </div>
                <div class="inline field">
                    <label>Admission Average</label>
                  {{input size="5" type="number" value = currentStudent.admissAvg}}
                </div>
                <div class="field">
                    <label>Admission Comments</label>
                  {{textarea type="text" rows="4" value = currentStudent.admissComments}}
                </div>
              </div>
          </div>
          <div class="ui center aligned  seven wide column segment">
              <h3> {{currentStudent.firstName}} {{currentStudent.lastName}}</h3>
              <br>
              <img  src={{studentPhoto}}>
          </div>
      </div>
  </div>
  <div class = "ui tab" data-tab = "grades">
    <div class="ui two item inverted menu" style="background-color: #4F2683; color: #ffffff">
                <div class="active violet item" data-tab="program">Program Grades</div>
                <div class="violet item" data-tab="advanced">Advanced Standings</div>
                
            </div>
    <div class = "ui active tab" data-tab = "program">
      <div class = "ui grid">
        <div class="ui left aligned four wide column"></div>
        <div class="ui left aligned seven wide column">
          <div id="terms">
            {{#each termCodeModel as |termChoice index|}}
              <div class={{index}}>
                <div class="ui large header" style="color: #4F2683">{{termChoice.name.name}}</div>
                <div class = "ui form" id = "termPrograms">
                  <div class="ui medium header" >Grades:</div>
                  {{#each gradeModel as |gradeChoice index2|}}
                  <div class={{index2}}>
                    {{#if (eq gradeChoice.term.id termChoice.id)}}
                    <div class="ui medium header" >{{increment index2}}.
                      {{#if enableGradeEdit}}
                      <a {{action 'removeGrade' index index2}}> 
                                        <span data-tooltip="Remove This Grade"><i class="large red minus circle icon"></i></span> </a> 
                                        <a {{action 'updateTheGrade' index index2}}> 
                                        <span data-tooltip="Save Changes To Mark"><i class="large save icon" ></i></span></a> 
                    {{/if}}
                    </div>
                    <div class="fields">
                        <div class = "four wide field">
                          <label>Mark</label> <input type="text"  class="currentGrade" value={{gradeChoice.mark}} name = "currentmark" >
                        </div>
                        <div class = "twelve wide field">
                          <label>Note</label> <input type="text"  class="currentNote" name = "currentnote" value = {{gradeChoice.note}}>
                        </div>
                      </div>
                      <div class="ui small header" >Course Info:</div>
                      <div class="fields">
                        <div class = "eight wide field">
                          <label>Letter</label> <input type="text"  class="currentLetter" value={{gradeChoice.course.courseLetter}} name = "currentLetter" >
                        </div>
                        <div class = "eight wide field">
                          <label>Number</label> <input type="text"  class="currentNumber" name = "currentNumber" value = {{gradeChoice.course.courseNumber}}>
                        </div>
                      </div>
                      <div class="fields">
                        <div class = "eleven wide field">
                          <label>Name</label> <input type="text"  class="currentName" value={{gradeChoice.course.name}} name = "currentName" >
                        </div>
                        <div class = "eight wide field">
                          <label>Unit</label> <input type="text"  class="currentUnit" name = "currentUnit" value = {{gradeChoice.course.unit}}>
                        </div>
                      </div>

                    {{/if}}
                    </div>
                  {{/each}}
                  

                  {{#if enableGradeEdit}}
                    <a {{action 'newGradeClicked'}}> <br>
                    <i class="large green add square icon"></i>Add Grade</a>
                    {{#if newGrade}}
                    <div class = "ui form">
                      <div class = "required field">
                        <label name="list">Select Course</label>
                        <select  class="selectedCourse" name="courseList">
                        <option hidden>Select</option>
                        {{#each courseCodeModel as |courseCodeChoice index2|}}
                          <option value={{index2}}> {{courseCodeChoice.courseLetter}} {{courseCodeChoice.courseNumber}} </option> 
                          
                        {{/each}}
                        </select>
                      </div>
                      <div class="required fields">
                        <div class = "four wide field">
                          <label>Mark</label> <input type="text" placeholder="Mark" class="mark" name="mark">
                        </div>
                        <div class = "twelve wide field">
                          <label>Note</label> <input type="text" placeholder="Note" class="note" name = "note">
                        </div>
                      </div>
                      
                      <button class="ui violet button" {{action 'addGrade' index}} >
                        Add 
                      </button>
                      <button class="ui button" {{action 'newGradeClicked'}}>
                        Cancel
                      </button>
                    </div>
                    {{/if}}
                    
                  {{/if}}
                  <div class="ui medium header" >Programs:</div>
                {{#each termChoice.program as |programChoice index2|}}
                          <div class = "field">
                          <label>Name</label> <input type="text" value = {{programChoice.name.name}} class="level">
                        </div>
                          
                {{/each}}
                </div>
                {{#if enableGradeEdit}}
                  <a {{action 'newProgClicked'}}>
                  <i class="large green add square icon"></i>Add Program</a>
                  {{#if newProg}}
                    <div class = "ui form">
                      <div class = "required field">
                        <label name="list">Select Program</label>
                        <select  class="selectedProgram" name="list">
                        <option hidden>Select</option>
                        {{#each programModel as |programChoice index2|}}
                          <option value={{index2}}> {{programChoice.name}} </option> 
                          
                        {{/each}}
                        </select>
                      </div>
                      <div class="required fields">
                        <div class = "six wide field">
                          <label>Level</label> <input type="text" placeholder="Level" class="level" name="level">
                        </div>
                        <div class = "six wide field">
                          <label>Load</label> <input type="text" placeholder="Load" class="load" name = "load">
                        </div>
                        <div class = "six wide field">
                          <label>Status</label> <input type="text" placeholder="Status" class="status" name = "status">
                        </div>
                      </div>
                      <button class="ui violet button" {{action 'addProgram' index}} >
                        Add 
                      </button>
                      <button class="ui button" {{action 'newProgClicked'}}>
                        Cancel
                      </button>
                    </div>
                  {{/if}}
                {{/if}}
                <h4 class="ui horizontal divider header" style="color: #4F2683">
                <i class="angle double left icon"></i><i class="angle double right icon"></i></h4>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="ui left aligned four wide column">
          <br><br>
          <div id = "newTerm">
            <div class = "ui form">
                <button class="ui violet button" {{action 'toggleGradeEdit'}}>
                              Toggle Edit
                          </button><br>
                          {{#if enableGradeEdit}}
                            <a {{action 'newStudentTermClicked'}}> 
                            <i class="large green add square icon"></i>Add Term</a>
                            {{#if newStudentTerm}}
                              <div class = "field">
                                        <label name="list">Select Semester</label>
                                        <select  class="selectedSemester" name="list">
                                            <option hidden>Select</option>
                                        {{#each termModel as |termChoice index|}}
                                            <option value={{index}}> {{termChoice.name}} </option> 
                                            
                                        {{/each}}
                                        </select>
                                    </div>
                                    <button class="ui violet button" {{action 'addTerm'}} >
                                        Add 
                                    </button>
                                    <button class="ui button" {{action 'newStudentTermClicked'}}>
                                        Cancel
                                    </button>
                            {{/if}}
                            
                            
                          {{/if}}
            </div>
          </div>
        </div>

    </div>
    </div>
    <div class="ui tab" data-tab="advanced">
        <div class="ui grid">
              <div class="ui left aligned four wide column"></div>
                
              
              <div class="ui left aligned seven wide column">
                  <div class="ui form" id = "advStanding">
                      <br>
                      
                      {{#each advStandingModel as |advStandingChoice index|}}
                        <div class = {{index}}>
                        {{#if enableAdvEdit}}
                        
                          <div class="ui large header" >Edit Options: 
                            <a {{action 'removeAdvOption' index}}> <span data-tooltip="Remove This Option">
                            <i class="red minus circle icon"></i> </span></a> <a {{action 'updateAdvChoice' index}}>
                            <span data-tooltip="Save Changes to Option"><i class=" save icon" data-content="Save Changes"></i></span></a> 
                            </div>
                      
                          {{/if}}
                        <div class = "fields">
                          <div class = "fifteen wide field">
                          <label>Course: </label><input type = "text" value = {{advStandingChoice.course}} class = "course">
                          </div>
                          <div class = "four wide field">
                          <label>Grade: </label><input type = "text" value = {{advStandingChoice.grade}} class = "grade">
                          </div>
                          <!--THIS WAY TO DATA BIND
                          {{input type = "text" value =advStandingChoice.grade class = "grade"}}-->
                        </div>
                        <div class= "fields">
                          <div class = "thirteen wide field">
                          <label>From: </label> <input type = "text" value ={{advStandingChoice.from}} class = "from">
                          </div>
                          <div class = "seven field">
                          <label>Unit: </label><input type = "text" value ={{advStandingChoice.unit}} class = "unit">
                          </div>
                          </div>
                          <div class = "field">
                          <label>Description:</label> <input type = "text" value ={{advStandingChoice.description}} class = "description">
                          </div>
                          
                      <h4 class="ui horizontal divider header" style=" color: #4F2683">
                      <i class="angle double left icon"></i><i class="angle double right icon"></i>
                      
                      </h4>
                        </div>
                      {{/each}}
                      
                      <a {{action 'newAdvClicked'}}> 
                      <i class="large green add square icon"></i>Add Advanced Standing Record</a>
                      <br>
                      </div>
                      {{#if newAdv}}
                      <div id = "newAdv">
                        <div class = "ui form">
                          <div class=" required field">
                          <label>Course:</label> <input name="course" type="text" placeholder="Course" onchange={{action 'updateCourse' value="target.value"}} class ="newCourse">
                          </div>
                          <div class="required field">
                          <label>Grade:</label> <input name="grade" type="text" placeholder="Grade" onchange={{action 'updateGrade' value="target.value"}} class = "newGrade">
                          </div>
                          <div class="required field">
                          <label>From:</label> <input name="from" type="text" placeholder="From" onchange={{action 'updateFrom' value="target.value"}} class = "newFrom">
                          </div>
                          <div class="required field">
                          <label>Unit:</label> <input name="unit" type="text" placeholder="Unit" onchange={{action 'updateUnit' value="target.value"}} class = "newUnit">
                          </div>
                          
                          <div class="field">
                          <label>Description:</label> <input name="description" placeholder="Description" type="text" onchange={{action 'updateDescription' value="target.value"}} class ="newDesc">
                          </div>
                          <button class="ui violet button" {{action 'addcredit'}} >
                              Add 
                          </button>
                          <button class="ui button" {{action 'newAdvClicked'}}>
                              Cancel
                          </button>
                        </div>
                        
                      </div>
                        {{#if err}}
                                      
                                      <div class="ui error message">
                                          <div class="header">Missing Fields</div>
                                          <p>Please make sure all required fields are filled and try again.</p>
                                      </div>
                                      {{/if}}
                      {{/if}}
                      
                  
                  
              </div>
              <div class="ui center aligned four wide column">
                <br><br>
                <button class="ui violet button" {{action 'toggleAdvEdit'}}>
                              Toggle Edit
                          </button>
              </div>

              
          </div>
        
    </div>
  </div>
   <div class="ui tab" data-tab="awards">
       <div class="ui grid">
            <div class="ui left aligned four wide column"></div>
            
            <div class="ui left aligned seven wide column">
                <div class="ui form" id =  "award">
                    <br>
                    {{#each awards as |award index|}}
                    <div class = {{index}}>
                      {{#if enableAwdEdit}}
                        
                          <div class="ui large header"> Edit Options: 
                            <a {{action 'removeAwdOption' index}}> <span data-tooltip="Remove This Option">
                            <i class="red minus circle icon"></i> </span></a> <a {{action 'updateAwdChoice' index}}>
                            <span data-tooltip="Save Changes to Option"><i class=" save icon" data-content="Save Changes"></i></span></a> 
                            </div>
                      
                          {{/if}}
                        <div class = "field">
                        <label>Award: </label><input type = "text" value = {{award.note}} class="note">
                        </div>
  
                      <h4 class="ui horizontal divider header" style="color: #4F2683">
                      <i class="angle double left icon"></i><i class="angle double right icon"></i>
                      
                      </h4>
                    </div>
                    {{/each}}
                    
                    <a {{action 'newAwdClicked'}}> 
                    <i class="large green add square icon"></i>Add Award or Scholarship</a>
                    <br>
                    {{#if newAwd}}
                    
                    <div class=" field">
                    <label>Note:</label> <input name="course" type="text" onchange={{action 'updateNote' value="target.value"}}>
                    </div>
                    <button class="ui violet button" {{action 'addAward'}} >
                        Add 
                    </button>
                    <button class="ui button" {{action 'newAwdClicked'}}>
                        Cancel
                    </button>
                    {{/if}}
                    
                </div>
                
            </div>
            <div class="ui center aligned four wide column">
              <br><br>
              <button class="ui violet button" {{action 'toggleAwdEdit'}}>
                            Toggle Edit
                        </button>
            </div>

            
        </div>
       
   </div>
  <div class="ui tab" data-tab="danger">
      <!-- Danger Zone (Deletion) !-->
      <br><br>
      <h3 align="center"> {{currentStudent.firstName}} {{currentStudent.lastName}}</h3>
      <br>
      <img class="ui centered image" src={{studentPhoto}}>
      <br><br>
      <button class="massive red fluid ui button" {{action 'delete' currentStudent.id}}>
          Delete Student Record
      </button>
      <br><br>

  </div>
  <div class="ui tab" data-tab="others">
    <!-- Others !-->
    <h2>Other data</h2>
  </div>



{{/if}}