<div class="ui center aligned header">
  <h2>Document Management</h2>
</div>
<div class="ui two item inverted menu" style="background-color: #4F2683; color: #ffffff">
    <div class="active item" data-tab="up">Upload File</div>
    <div class="item" data-tab="down">Export File</div>
  </div>

<div class="ui active tab" data-tab="up">
  <br>
  {{#if isLoading}}
  <h2 style="align-content: center">File Uploaded: {{fileName}}</h2>
    <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'show'}}>{{showTitle}}</button>
    <button class="ui button" {{action 'done'}}> Done</button>
      {{#if showTable}}
        <table class="ui celled table">
          <thead>
          <tr>
            {{#each tableHeader as |header|}}
              <th>{{header}}</th>
            {{/each}}
          </tr>
          </thead>

          <tbody>
          {{#each tableData as |oneRow|}}
            <tr>
              {{#each oneRow as |oneCol|}}
                <td>{{oneCol}}</td>
              {{/each}}
            </tr>
          {{/each}}
          </tbody>
        </table>
        
        {{/if}}
        
    {{else}}
      <div>
        <div class="ui grid">
          <div class="eight wide centered column">
            <button class="ui fluid button" style="background-color: #4F2683; color: #ffffff">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
              <div class="ui center aligned header" style="color: #FFFFFF">
                Select Upload File
              </div>
              <i class="massive download icon"></i>
            {{/file-picker}}</button>
          </div>
        </div>
      </div>
    {{/if}}
  <br><br>
</div>
<div class="ui tab" data-tab="down">
  <div>
    <div class="ui grid"> 
      <div class="eight wide right aligned column">
        <div class= "required inline field">
            <label>Term</label>
            <select style="width: 190px" onchange={{action 'updateTerm' value="target.value"}} class="sub{{index}}">
                <option value="" disabled selected style="display: none;">Term</option>
                {{#each termModel as |termChoice|}}
                    <option value={{termChoice.id}}>{{termChoice.name}} </option>
                {{/each}}
            </select>
        </div>
      </div>
      <div class="eight wide left aligned column">
        <div class= "required inline field">
            <label>Department</label>
            <select style="width: 190px" onchange={{action 'updateProgDept' value="target.value"}} class="sub{{index}}">
                <option value="" disabled selected style="display: none;">Department</option>
                {{#each departmentModel as |deptChoice|}}
                    <option value={{deptChoice.id}}>{{deptChoice.name}} </option>
                {{/each}}
            </select>
        </div>
      </div>
      <div class="eight wide centered column">
        <button class="ui fluid button" style="background-color: #4F2683; color: #ffffff" {{action 'createPDF'}}>
          <div class="ui center aligned header" style="color: #FFFFFF">
            Download Selected File
          </div>
          <div style="color:#FFFFFF; align-content: center">
            <i class="massive upload icon"></i>
          </div>
        </button>
      </div>
      
    </div>
  </div>
  <br><br>
</div>


