<div class="ui center aligned header">
  <h2>Upload Database File</h2>
</div>
<br>


{{#if isLoading}}
<h2 style="align-content: center">File Uploaded: {{fileName}}</h2>
  <button class="ui button" style="background-color: #4F2683; color: #ffffff" {{action 'show'}}>{{showTitle}}</button>
  <button class="ui button" {{action 'done'}}> Done</button>
    {{#if showTable}}
      <table class="ui celled table">
        <thead>
        <tr>
          {{#each tableHeader as |header|}}
            <th>{{header}}</th>
          {{/each}}
        </tr>
        </thead>

        <tbody>
        {{#each tableData as |oneRow|}}
          <tr>
            {{#each oneRow as |oneCol|}}
              <td>{{oneCol}}</td>
            {{/each}}
          </tr>
        {{/each}}
        </tbody>
      </table>
      
      {{/if}}
      
  {{else}}
    <div>
      <button class="ui fluid button" style="background-color: #4F2683; color: #ffffff">{{#file-picker fileLoaded="fileImported" accept=".xlsx" readAs="readAsBinaryString"}}
        Select Excel File
      {{/file-picker}}</button>
      
    </div>
  {{/if}}



<br><br><br><br><br><br>

